::selection {
    background-color: #d48b5a3e;
    color: beige;
}

html {
    background-image: url(res/bg\ image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    background-color: #c7b29ed3;
}

    .nav {
        background-color: #7d524af7;
        display: flex;
        justify-content: space-evenly;  
        align-items: center;
        top: 0;
        position: sticky;
    }
    
        .nav-button {
            font-size: 1.8rem;
        }

        a {
            font-family: 'Jim Nightshade', cursive;
        }

        a:hover {
            text-decoration: overline;
        }

        .menu {
            margin-left: 2rem;
        }
        
        .logoImg {
            width: 11rem;
            height: 8rem;
            margin-top: -15px;
        }

        .contact {
            margin-right: 2rem;
        }

.hero {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
    width: fit-content;
}
    
    .heading {
        margin-bottom: 20px;

        font-family: 'Playfair Display', serif;
        font-size: 75px;

        /* width: 572px;
        height: 152px; */
    }

    .para {
        font-family: 'DM Sans', sans-serif;

        font-size: 1rem;
        font-weight: 400;

        line-height: 32px;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        margin-top: 20px;
        /* background-color: aqua; */
    }
    
    .button-type-1,.button-type-2 {
        padding: 15px;
        border-radius: 50px;
        /* filter: invert(1); */
    }

        .button-type-1>a,.button-type-2>a {
            font-family: 'Libre Bodoni', serif;
        }

        .button-type-1>a:hover,.button-type-2>a:hover {
            text-decoration: none;
        }

    .button-type-1 {
        background-color: #7D524A;
    }

    .button-type-2 {
        background-color: #D9D9D9;
    }

        .button-type-1>a {
            color: #D9D9D9;
        }
        
        .button-type-2>a {
            color: #7D524A;
        }
    

    .rightbox {
        height: fit-content;
        margin-top: 30px;
        margin-left: 30px;
        /* background-color: aqua; */
    }

        .img {
            margin-left: 50px;
            width: 400px;
            transition: width 2s;
        }

        .img:hover {
            width: 430px;
        }

        .empty {
            height: 650px;
        }
        
        .point {
            display: flex;
            margin-left: 80px;
            margin-bottom: 10px;
        }
        
        .text {
            margin-left: 10px;
        }